In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\programming language\python\python 39\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\programming language\python\python 39\lib\site-packages (from pymongo) (2.3.0)

In [2]:
import pymongo

In [3]:
#establish connection with MongoDB client.

client = pymongo.MongoClient("mongodb://localhost:27017/")
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
#2nd way to establish connection with MongoDB client with help of a vairable.

Default_connection_url = "mongodb://localhost:27017/"
client = pymongo.MongoClient(Default_connection_url)
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
#Creating a DB in MongoClient

DB_name = "MY_DB"
database = client[DB_name]
print (database)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'MY_DB')

In [6]:
#to list all databases

client.list_database_names()

['BigData', 'admin', 'as20', 'config', 'local']

In [7]:
#python function to check if a database is already there in MongoDB

def checkDB(DB_name:str , client:str ) -> str:
    """To check if db is available in MongoDB"""
    DBlist = client.list_database_names()
    if DB_name in DBlist :
        print (f"The database {DB_name} is already availabe in {DBlist}.Please choose a new name.")
        return True
    else :
        print (f"The database {DB_name} is not availabe , or no collection/table is added")
        return False

In [8]:
checkDB(DB_name="BigData",client=client)

The database BigData is already availabe in ['BigData', 'admin', 'as20', 'config', 'local'].Please choose a new name.

True

In [9]:
#create a collection inside the database.

Collection_name = "Employees"
collection = database[Collection_name]
print(collection)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'MY_DB'), 'Employees')

In [10]:
#python function to check if a collection/table is already there in MongoDB

def checkcollection(collection_name, DB_name, db) :
    """To check if collection exist in db in MongoDB"""
    collection_list = db.list_collection_names()
    if collection_name in collection_list :
        print (f"The collection {collection_name} is already availabe in {DB_name}.Please choose a new name.")
        return True
    else :
        print (f"The collection {collection_name} is not availabe in {DB_name}, or no fields/column/data is added")
        return False

In [11]:
checkcollection(collection_name="Employee", DB_name="MY_DB" , db=database)

The collection Employee is not availabe in MY_DB, or no fields/column/data is added

False

In [12]:
# inserting documents inside collections

db_1 = client["as20"]
collection = db_1["test"]
record = {
    'employeeName':'shashank',
    'age': 29,
    'salary': 30000 ,
    'skill':['python','sql','pgsql','cql']
}

collection.insert_one(record)

In [13]:
record = {
    'employeeName':'vishal',
    'age': 28,
    'salary': 30000 ,
    'skill':['python','sql','mongo'],
    'location':'Bangalore'
}

collection.insert_one(record)

In [14]:
record = {
    'employeeName':'Shantanu',
    'age': 35,
    'designation':'CEO',
    'salary': 100000 ,
    'skill':['python','sql','mongo','HIVE'],
    'location':'Bangalore'
}

collection.insert_one(record)

In [15]:
#to give custom ID to a document step 1
from bson.objectid import ObjectId

In [16]:
#to give custom ID to a document step 2
#NOTE : OBJECT ID can only be 24 character HEX CODE
record = {
    "_id":ObjectId("A8F56AB71D4A4A37BC9B7782"),
    "employeeName":"Ajay",
    "age": 25,
    "designation":"Student",
    "salary": 32000 ,
    "skill":['python','sql','mongo','HIVE'],
    "location":"Mumbai"
}

collection.insert_one(record)

DuplicateKeyError: E11000 duplicate key error collection: as20.test index: _id_ dup key: { _id: ObjectId('a8f56ab71d4a4a37bc9b7782') }, full error: {'index': 0, 'code': 11000, 'errmsg': "E11000 duplicate key error collection: as20.test index: _id_ dup key: { _id: ObjectId('a8f56ab71d4a4a37bc9b7782') }", 'keyPattern': {'_id': 1}, 'keyValue': {'_id': ObjectId('a8f56ab71d4a4a37bc9b7782')}}

In [18]:
checkDB(DB_name="as20",client=client)

The database as20 is already availabe in ['BigData', 'admin', 'as20', 'config', 'local'].Please choose a new name.

True

In [24]:
DB_name = "as20"
database = client[DB_name]

checkcollection(collection_name="test", DB_name="as20" , db=database)

The collection test is already availabe in as20.Please choose a new name.

True

In [26]:
#to insert multiple records

record = [{
    'employeeName':'Shantanu',
    'age': 35,
    'designation':'CEO',
    'salary': 100000 ,
    'skill':['python','sql','mongo','HIVE'],
    'location':'Bangalore'
},
{'employeeName':'Swati',
    'age': 30,
    'designation':'Manager',
    'salary': 60000 ,
    'skill':['python','sql','mongo','HIVE'],
    'location':'Lucknow'},
{'employeeName':'Abeg',
    'age': 29,
    'designation':'worker',
    'salary': 10000 ,
    'skill':['python','sql'],
    'location':'Bihar'}
]

collection.insert_many(record)

In [29]:
#fetching data from DB to jupyter.

db_1 = client["as20"]
collection_name = "classmentors"
mentors = db_1[collection_name]

list_of_records_user_defined_id = [
    {
        "_id":"1",
        "name":"Krish",
        "courses":["DS","ML","NLP"]
    },
    {
        "_id":"2",
        "name":"Sudhanshu",
        "courses":["DS","ML","Big Data"]
    },
    {
        "_id":"3",
        "name":"Shashank",
        "courses":"Big Data"
    }
]

mentors.insert_many(list_of_records_user_defined_id)

In [30]:
#fetching data from DB to jupyter.

find_first_record = mentors.find_one()
print(find_first_record)

{'_id': '1', 'name': 'Krish', 'courses': ['DS', 'ML', 'NLP']}

In [32]:
for i in mentors.find():
    print(i)

{'_id': '1', 'name': 'Krish', 'courses': ['DS', 'ML', 'NLP']}
{'_id': '2', 'name': 'Sudhanshu', 'courses': ['DS', 'ML', 'Big Data']}
{'_id': '3', 'name': 'Shashank', 'courses': 'Big Data'}

In [33]:
all_mentors = mentors.find()

for idx,record in enumerate(all_mentors):
    print(f"{idx}: {record}")

0: {'_id': '1', 'name': 'Krish', 'courses': ['DS', 'ML', 'NLP']}
1: {'_id': '2', 'name': 'Sudhanshu', 'courses': ['DS', 'ML', 'Big Data']}
2: {'_id': '3', 'name': 'Shashank', 'courses': 'Big Data'}

In [35]:
#filter out the collection

for i in mentors.find({"name":"Sudhanshu"}):
    print(i)

{'_id': '2', 'name': 'Sudhanshu', 'courses': ['DS', 'ML', 'Big Data']}

In [39]:
for i in mentors.find({"_id":{"$gt": "1"}}):
    print(i)

{'_id': '2', 'name': 'Sudhanshu', 'courses': ['DS', 'ML', 'Big Data']}
{'_id': '3', 'name': 'Shashank', 'courses': 'Big Data'}

In [41]:
for i in mentors.find({"_id":{"$lt": "3"}}):
    print(i)

{'_id': '1', 'name': 'Krish', 'courses': ['DS', 'ML', 'NLP']}
{'_id': '2', 'name': 'Sudhanshu', 'courses': ['DS', 'ML', 'Big Data']}

In [42]:
db_1 = client["as20"]
collection_name = "test"
test_data = db_1[collection_name]

for i in test_data.find():
    print(i)

{'_id': ObjectId('642826e661ceb176c1e7802f'), 'employeeName': 'shashank', 'age': 29, 'salary': 30000, 'skill': ['python', 'sql', 'pgsql', 'cql']}
{'_id': ObjectId('6428284a61ceb176c1e78030'), 'employeeName': 'vishal', 'age': 28, 'salary': 30000, 'skill': ['python', 'sql', 'mongo'], 'location': 'Bangalore'}
{'_id': ObjectId('642829bf61ceb176c1e78031'), 'employeeName': 'Shantanu', 'age': 35, 'designation': 'CEO', 'salary': 100000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Bangalore'}
{'_id': ObjectId('a8f56ab71d4a4a37bc9b7782'), 'employeeName': 'Ajay', 'age': 25, 'designation': 'Student', 'salary': 32000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Mumbai'}
{'_id': ObjectId('64282f99b2366100be8eadb0'), 'employeeName': 'shashank', 'age': 29, 'salary': 30000, 'skill': ['python', 'sql', 'pgsql', 'cql']}
{'_id': ObjectId('64282f99b2366100be8eadb1'), 'employeeName': 'vishal', 'age': 28, 'salary': 30000, 'skill': ['python', 'sql', 'mongo'], 'location': 'Bangalore'}
{'_id': ObjectId('64282f99b2366100be8eadb2'), 'employeeName': 'Shantanu', 'age': 35, 'designation': 'CEO', 'salary': 100000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Bangalore'}
{'_id': ObjectId('64287da9b2366100be8eadb3'), 'employeeName': 'Shantanu', 'age': 35, 'designation': 'CEO', 'salary': 100000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Bangalore'}
{'_id': ObjectId('64287da9b2366100be8eadb4'), 'employeeName': 'Swati', 'age': 30, 'designation': 'Manager', 'salary': 60000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Lucknow'}
{'_id': ObjectId('64287da9b2366100be8eadb5'), 'employeeName': 'Abeg', 'age': 29, 'designation': 'worker', 'salary': 10000, 'skill': ['python', 'sql'], 'location': 'Bihar'}

In [44]:
all_data = test_data.find()

for idx,record in enumerate(all_data):
    print(f"{idx}: {record}")

0: {'_id': ObjectId('642826e661ceb176c1e7802f'), 'employeeName': 'shashank', 'age': 29, 'salary': 30000, 'skill': ['python', 'sql', 'pgsql', 'cql']}
1: {'_id': ObjectId('6428284a61ceb176c1e78030'), 'employeeName': 'vishal', 'age': 28, 'salary': 30000, 'skill': ['python', 'sql', 'mongo'], 'location': 'Bangalore'}
2: {'_id': ObjectId('642829bf61ceb176c1e78031'), 'employeeName': 'Shantanu', 'age': 35, 'designation': 'CEO', 'salary': 100000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Bangalore'}
3: {'_id': ObjectId('a8f56ab71d4a4a37bc9b7782'), 'employeeName': 'Ajay', 'age': 25, 'designation': 'Student', 'salary': 32000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Mumbai'}
4: {'_id': ObjectId('64282f99b2366100be8eadb0'), 'employeeName': 'shashank', 'age': 29, 'salary': 30000, 'skill': ['python', 'sql', 'pgsql', 'cql']}
5: {'_id': ObjectId('64282f99b2366100be8eadb1'), 'employeeName': 'vishal', 'age': 28, 'salary': 30000, 'skill': ['python', 'sql', 'mongo'], 'location': 'Bangalore'}
6: {'_id': ObjectId('64282f99b2366100be8eadb2'), 'employeeName': 'Shantanu', 'age': 35, 'designation': 'CEO', 'salary': 100000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Bangalore'}
7: {'_id': ObjectId('64287da9b2366100be8eadb3'), 'employeeName': 'Shantanu', 'age': 35, 'designation': 'CEO', 'salary': 100000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Bangalore'}
8: {'_id': ObjectId('64287da9b2366100be8eadb4'), 'employeeName': 'Swati', 'age': 30, 'designation': 'Manager', 'salary': 60000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Lucknow'}
9: {'_id': ObjectId('64287da9b2366100be8eadb5'), 'employeeName': 'Abeg', 'age': 29, 'designation': 'worker', 'salary': 10000, 'skill': ['python', 'sql'], 'location': 'Bihar'}

In [52]:
for i in test_data.find({"employeeName":"Shantanu"}):
    print(i)

{'_id': ObjectId('642829bf61ceb176c1e78031'), 'employeeName': 'Shantanu', 'age': 35, 'designation': 'CEO', 'salary': 100000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Bangalore'}
{'_id': ObjectId('64282f99b2366100be8eadb2'), 'employeeName': 'Shantanu', 'age': 35, 'designation': 'CEO', 'salary': 100000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Bangalore'}
{'_id': ObjectId('64287da9b2366100be8eadb3'), 'employeeName': 'Shantanu', 'age': 35, 'designation': 'CEO', 'salary': 100000, 'skill': ['python', 'sql', 'mongo', 'HIVE'], 'location': 'Bangalore'}

In [48]:
#delete one records

test_data.delete_one({'_id':ObjectId('64282f99b2366100be8eadb0')})

In [57]:
#delete many records

test_data.delete_many({"age":{"$gt":30}})

In [60]:
test_data.delete_many({"age":{"$gt":29}} and {'_id':ObjectId('64287da9b2366100be8eadb5')})

In [58]:
for i in test_data.find({"age":{"$gt":30}}):
    print(i)

In [59]:
#to drop/delete a collection

mentors.drop()